<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
        <title>Gacha</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body class="index-page">
        <header class="header">
            <a
                href="/login"
                class="btn btn-primary"
                style="
                    --bs-btn-padding-y: 0.3rem;
                    --bs-btn-padding-x: 0.6rem;
                    --bs-btn-font-size: 0.9rem;
                    --bs-btn-bg: #3d3a1e;
                    --bs-btn-border-color: #3d3a1e;
                    --bs-btn-hover-bg: #55512a;
                    --bs-btn-hover-border-color: #55512a;
                "
            >
                로그인
            </a>
        </header>
    </body>
</html>
